:root {  
    --ligherblue: rgb(0, 124, 199);
    --lightestblue: rgb(77, 168, 218);
    --darkblue: rgb(32, 54, 71);
    --lightwhite: rgb(238, 251, 251);
    --green: #62Ba9B;
    --pink: rgb(244, 143, 177);
  }
  
::selection{
  user-select: none;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    cursor: none;
    

}

.bg{
  height: 100%;
  width: 100%;
  background-image: url(graphy-dark.png);
  position: absolute;
  opacity: 30%;  
}

.container{
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    font-size: 15px;
    transition: top 0.3s;
    background-color: #12232E;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

/* ******************************************************** */

/* Start Of the menu-2 Css*/

.menu a{
    padding:10px 20px ;
    display: inline-block;
    color:#4DA8DA ;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: all ease-out 0.5s;
}

.menu a:hover{
    color: white;
    background:#007CC7;
    box-shadow: 0 0 5px #4DA8DA,
                0 0 25px #4DA8DA,
                0 0 50px #4DA8DA,
                0 0 100px #4DA8DA; 
    transition: all ease-out 0.4s;
}
/* End Of The menu-2 CSS Code*/

/* ***************************************************** */

.logo{
    width: 100px;
    cursor: pointer;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
}


nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}

nav ul li{
    display: inline-block;
    margin: 0px 30px;
}

nav ul li a{
    color: rgb(24, 7, 7);
    text-decoration: none;
}


/* ************************************************************ */

/*Start Of The the Menu-btn CSS Code*/

.menu-btn a{
    position: relative;
    background: none;
    overflow: hidden;
    text-align: center;
    display:inline-block ;
    width: 150px;
    font-weight: 700;
    cursor: pointer;
    color: #EEFBFB;
    filter: drop-shadow(0 0 5px var(--ligherblue)) drop-shadow(0 0 15px var(--darkblue));
    z-index: 0;
    border: 1px solid #007CC7;
    text-decoration: none;
    line-height: 50px;
    border-radius: 50px;
    margin: 0 10px;
}

.menu-btn a:hover::before{
    top: 0;
    border-radius: 0;
}

.menu-btn a::before{
    content: '';
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4DA8DA;
    border-radius: 50% 50% 0 0;
    z-index:-1 ;
    transition: all .4s;
}

/* End Of The menu-1 Css*/

/* ******************************************************** */

.hidden{
    opacity: 0;
    filter:blur(5px);
    transform: translateX(-100%);
    transition: all 3s;
}

.content{
    margin-top: 130px;
    color: #EEFBFB;
    max-width: 650px;
}
/*
.content h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 85px;
    margin-bottom: 25px;
}
*/

.content h1 {
    color: white;
    font-family: "Rubik", sans-serif;
    font-size: clamp(2em, 2vw, 4em);
    font-weight: 400;
    margin: 0px;
    line-height: 55px;
    margin-bottom: 25px;
    
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h1 > .magic > .magic-star > svg > path {
    fill: var(--pink);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--ligherblue),
      var(--lightestblue),
      var(--lightwhite),
      var(--ligherblue)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }
.flex{
  display: flex;
  align-items: right;
  position: absolute;
  height: 400px;
  width: 250px;
  top: 150px;
  right: 15%;
  background: linear-gradient(rgba(32, 54, 71,0.65), rgba(32, 54, 71,0.65));
}

  @keyframes animate{
    0%{
      opacity: 0;
      transform: scale(.5);
    }
    100%{
      opacity: 1;
      transform: scale(.5);
    }
  }



.content form{
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 30px;
    position: absolute;
}

.content form input{
    border: 0;
    outline: 0;
    width: 100%;
    font-size: 16px;
    color: #12232E;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;

}

.content form .menu-btn{
    font-size: 15px;

}

.small{
    height: 9px;
    width: 9px;
    background-color: var(--green);
    border-radius: 10px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
    z-index: 1000;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: height 0.2s, width 0.2s;
}

.big{
    height: 50px;
    width: 50px;
    border: 3px solid var(--green);
    border-radius: 100px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green));
    z-index: 1000;
    position: fixed;
    pointer-events: none;
    transform: translate(calc(-50%), (-50%));
    transition: height 0.5s, width 0.5s, filter 0.5s;
}

.hover__big{
    height: 100px;
    width: 100px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green)) drop-shadow(0 0 40px var(--green));
    transition: height 0.5s, width 0.5s, filter 0.5s;
}

.hover__small{
    height: 8px;
    width: 8px;
    filter: drop-shadow(0 0 5px var(--green)) drop-shadow(0 0 20px var(--green)) drop-shadow(0 0 40px var(--green));
    transition: height 0.2s, width 0.2s;
}


/* qt section start*/

.container-2{
  width:100%;
  padding-right:15px;
  padding-left:15px;
  margin-right:auto;
  margin-left:auto;
}

.qt-background{
    background: linear-gradient(rgba(32, 54, 71,0.65), rgba(32, 54, 71,0.65)),url(/images/bg-short-1.jpg) no-repeat;
    background-size: cover;
    padding: 100px 0;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}
.qt-background p {
    font-size: 35px;
    font-weight: 300;
    line-height: 44px;
    color: #EEFBFB;
    font-family: 'Rubik', sans-serif;
    margin-bottom: 20px;
}

.qt-background span {
    color: #EEFBFB;
    font-size: 28px;  
    font-weight: 300;	
}


.typing-demo {
  width: 100%;
  animation: typing 5s steps(90), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  filter: drop-shadow(0 0 5px var(--ligherblue)) drop-shadow(0 0 15px var(--darkblue));
  border-right: 3px solid var(--green);
  font-family:'Courier New', Courier, monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.lead {
  font-size: 18px;
  color: #eefbfb;
  margin: 0;
  padding: 0;
}


/**/

.row{
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
  margin-right:-15px;
  margin-left:-15px
}

.col-md-8{
  position:relative;
  width:100%;
  min-height:1px;
  padding-right:15px;
  padding-left:15px
}
.col{
  -ms-flex-preferred-size:0;
  flex-basis:0;
  -ms-flex-positive:1;
  flex-grow:1;
  max-width:100%
}
.col-auto{
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:none
}

.mr-auto{
  margin-right:auto!important
}

.ml-auto{
  margin-left:auto!important
}

@media(min-width:768px){
  .col-md-8{
    -ms-flex:0 0 66.666667%;
    flex:0 0 66.666667%;
    max-width:66.666667%
  }
  
}


/* qt section ends*/



.blog-bg{
  height: 100%;
  width: 100%;
  background-image: url(graphy-dark.png);
  position: absolute;
  opacity: 30%;  
}
#cards {
  background-color: #12232E;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;  
  max-width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 15%;


}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  border-radius: 10px;
  cursor: none;
  display: flex;
  height: 260px;
  flex-direction: column;
  position: relative;
  width: 300px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(77, 168, 218),
    transparent 20%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgb(255, 255, 255),
    transparent 20%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--ligherblue);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1, h2, h3, h4, span {
  color: rgb(240, 240, 240);
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
}

i {  
  color: rgb(240, 240, 240);
}

.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */



@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


.container-3 {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  background: linear-gradient(rgba(32, 54, 71,0.65), rgba(32, 54, 71,0.65)),url(/images/maxres.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    
}


.avatar {
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  border: 5px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
.avatar img {
  width: 100%;
  height: auto;
}

.abttxt h1{
  color: #EEFBFB;
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0px;
  line-height: 70px;
  align-items: flex;
}
.abtbio p{
  color: #EEFBFB;
  font-size: 15px;
  font-weight: 100;
  padding-left: 20%;
  padding-right: 20%;
  line-height: 22px;
}


/*wavs start*/

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container-4{
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(32, 54, 71)  0%, rgb(77, 168, 218) 50%,rgb(0, 124, 199)  100% );
  color:white;
}
waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.wavesbg{
  height: 100%;
  width: 100%;
  
}


/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .tex {
    height:30vh;
  } 
  
}

/*wavs ends*/

/* Responsive codes*/

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}

.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media screen and (max-width:500px) {
    .container a {
        float: none;
        display: block;
        text-align: left;
    }
    .menu {
        float: none;
    }
}

/* magical note*/

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }